body {
    text-align: center;
    background: url("https://cdn.pixabay.com/photo/2015/07/17/22/42/startup-849804_960_720.jpg"); 
    background-size: cover;
    background-color: rgba(79, 79, 177, 0.95);
    background-blend-mode:soft-light;
    font-family: sans-serif;
    color: white;
    margin: 0;
}

#title {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

#tagline {
  margin-top: .5em;
  font-size: 1.2em;
}

#survey-form {
    background-color: black;
    opacity: 80%;
    color:white;
    padding: 2em;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 1.2em;
}

label {
  display: block;
  width: 100%;
  padding: 0;
  text-align: left;
  margin-bottom: 25px;
}

.demographics, select, textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  border: white;
  font-size: 16px;
}


.radio, .checkbox {
  display: inline;
}

#button {
  background-color: green;
  width: 100%;
  padding: 1em;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  color: white;
}
